@model gellmvc.Domain.Entities.Order

@{
  var showImages = (bool)ViewData["showImages"];
  var headerColStyle = (showImages) ? "col-xs-8" : "col-xs-12";
}

<div class="row tiny-font">
  <div class="@headerColStyle" style="padding-top:12px;">

    <p style="margin-bottom:15px;">
      <strong>Order #</strong>@Model.Id
      &nbsp
      <strong>Created:</strong>
      @Model.OrderDate.ToString("dd MMMM yyyy hh:mm tt")
    </p>

    <small>
      <p>
        <strong>Shipping Address:</strong>
        @if (Model.ShippingAddress == null) {
          @:"None"
        } else {
          @Model.ShippingAddress.OneLine()
        }
      </p>

      <p>
        <strong>Billing Address:</strong>
        @if (Model.BillingAddress == null)
        {
          @:"None"
        }
        else
        {
          @Model.BillingAddress.OneLine()
        }
      </p>

      <p>
        <strong>Product Lines:</strong> @Model.ProductLinesCount()
        &nbsp
        <strong>Total Items:</strong> @Model.GetTotalItems()
        &nbsp
        <strong>Invoice Total:</strong> $@Model.GrandTotal()
      </p>

      <p>
        <strong>Status:</strong>
        <small>@Model.OrderStatus</small>
      </p>
    </small>

  </div>

  @* Render the image tags that are displayed within the Head partial, this is only on the Orders Index page. *@
  @{if (showImages == true){

    <div class="col-xs-4" style="min-height: 180px;">

      <div class="row" style="padding-right:5px;">

        @for (int i = 0; i < Model.OrderedProducts.Count(); i++)
        {
          var op = Model.OrderedProducts.ElementAt(i);
          string imgFolder = gellmvc.Helpers.ApplicationHelper.ProductImagesFolder();
          
          <div class="" style="display:inline-block; width:40px; padding-left:3px; padding-right: 3px;">
            
            <img src="@imgFolder/@op.Product.ImageUrl" alt="@imgFolder/@op.Product.ImageUrl" class=""
              style="width:40px; display: inline-block;" />
          
          </div>
        }

      </div>
    </div>
  }}

</div>