<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap - The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <link href="~/Content/application.css" rel="stylesheet" />
  <script type="text/javascript" src="@Url.Content("/Content/jquery/jquery.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("/Content/bootstrap-sass/bootstrap.min.js")"></script>

  <script type="text/javascript" src="@Url.Content("/Scripts/store_and_cart.js")"></script>
  <script type="text/javascript" src="@Url.Content("/Scripts/checkout.js")"></script>
  <title>@ViewBag.Title</title>
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">

    <div class="visible-xs" style="position:absolute; width:200px; top:-7px; height: 55px; color: #f9f9f9; z-index:999999999; padding-top: 15px;"><a href="/"><img src="~/Content/Images/siteLogo.png" style="height:38px;" /></a></div>

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

          <li class="hidden-xs">
            <a href="/" id="hidden-xs-siteLogo-anchor">
              <img src="~/Content/Images/siteLogo.png" style="height:38px; margin-top:4px;" />
            </a>
          </li>

          <li>@Html.ActionLink("Shop for Gadgets", "Index", "Store")</li>
          <li>@Html.ActionLink("My Cart", "Index", "Cart")</li>
          @if (Request.IsAuthenticated)
          {
            <li>@Html.ActionLink("My Orders", "Index", "Order")</li>
          }
        </ul>
        @Html.Partial("_LoginPartial")
      </div>
    </div>
  </div>

  <a href="#pagetop"></a>

  <div style="padding: 10px; padding-top:5px;">
    @Html.Partial("~/Views/Partials/_FlashMessage.cshtml")
  </div>
  @RenderBody()

  @RenderSection("scripts", required: false)
</body>
</html>
