@model gellmvc.Models.CartIndexViewModel

@using gellmvc.Extensions

<div class="row">
  <div class="col-xs-12 well">
    <h3>Shipping Address:</h3>

    @if (Model.User != null && Model.Addresses.Where(a => a.UserAddress.Deleted == false).Count() > 0)
    {
      @* Got some addresses from the database.*@

      @Html.Partial("~/Views/Partials/Shopping/Checkout/_AddressHeader.cshtml")

      for (var i = 0; i < Model.Addresses.Count(); i++)
      {
        gellmvc.Models.AddressRowViewModel addressVm = Model.Addresses.ElementAtOrDefault(i);

        @Html.Partial("~/Views/Partials/Shopping/Checkout/_AddressRow.cshtml", addressVm,
          new ViewDataDictionary{ TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Addresses["+i+ "]" }
        })

        if (addressVm.UserAddress.Deleted == false)
        {
          string fieldSetId = String.Format("id=\"RadioFieldSet{0}\"", i);

          <fieldset id="@fieldSetId">
            <div class="row address-row">

              <div class="col-xs-12 col-sm-6">
                @addressVm.UserAddress.OneLine()
              </div>

              <div class="col-xs-12 col-sm-3">
                <label class="address-radio">
                  @Html.RadioButtonFor(model => model.ShippingRadioIdx, i, new {
                    @checked = "checked",
                    @id = String.Format("Addresses_{0}__ShippingRadioIdx", i)
                  })
                  <span class="visible-xs">Ship to this address</span>
                </label>
              </div>

              <div class="col-xs-12 col-sm-3">
                <label class="address-radio">
                  @Html.RadioButtonFor(model => model.BillingRadioIdx, i, new {
                    @checked = "checked",
                    @id = String.Format("Addresses_{0}__BillingRadioIdx", i)
                  })
                  <span class="visible-xs">Use as billing address</span>
                </label>
              </div>

            </div>
          </fieldset>
          @* -----------------------------------------------------------------------*@
        }
      }

    }
    else
    {
      @* No addresses available from database. Enter address details at point of sale. *@

      @Html.PartialFor(m => m.AddressFieldsPOS, "~/Views/Partials/Address/_AtPOS.cshtml")
    }

  </div>
</div>